# Dependencies
node_modules/

# Build output
dist/

# Environment variables & secrets (JANGAN di-commit)
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
*.local
